.default-light-theme {
  --yds-color-text: #4A4A4A;
  --yds-color-text-subtle: #6d6d6d;
  --yds-color-text-strong: #333333;
  --yds-color-text-disabled: #D8D8D8;
  --yds-color-primary-text: #5C8211;
  --yds-color-secondary-text: #004461;
  --yds-color-danger-text: #bf2029;
  --yds-color-warning-text: #a78500;
  --yds-color-link-text: #0073a5;
  --yds-color-success-text: #5C8211;
  --yds-color-link-text-pressed: #004461;
  --yds-color-link-text-hover: #1e92c5;
  --yds-color-on-primary-text: #ffffff;
  --yds-color-on-secondary-text: #ffffff;
  --yds-color-text-inverse: #ffffff;
  --yds-color-bg: #ffffff;
  --yds-color-bg-medium: #F9FAFB;
  --yds-color-bg-strong: #EDF0F2;
  --yds-color-bg-disabled: #EDF0F2;
  --yds-color-primary-bg-tint: #F3F8E6;
  --yds-color-primary-bg-subtle: #C1DE7F;
  --yds-color-primary-bg: #9aca3c;
  --yds-color-secondary-bg-tint: #f5fafc;
  --yds-color-secondary-bg-subtle: #cae5f1;
  --yds-color-secondary-bg: #0073a5;
  --yds-color-tertiary-bg: #005572;
  --yds-color-danger-bg-subtle: #f1c9d1;
  --yds-color-danger-bg: #bf2029;
  --yds-color-warning-bg-subtle: #e3d393;
  --yds-color-warning-bg: #a78500;
  --yds-color-contrast-bg: #3d4133;
  --yds-color-hero-products-bg: #4a7694;
  --yds-color-hero-solutions-bg: #0073a5;
  --yds-color-hero-resources-bg: #007f95;
  --yds-color-hero-company-bg: #5c8211;
  --yds-color-hero-support-bg: #206978;
  --yds-color-hero-why-yubico-bg: #3c72b1;
  --yds-color-primary-btn: #5C8211;
  --yds-color-primary-hover: #699700;
  --yds-color-primary-btn-pressed: #314600;
  --yds-color-secondary-btn: #0073a5;
  --yds-color-secondary-btn-hover: #b1d9eb;
  --yds-color-secondary-btn-pressed: #004461;
  --yds-color-danger-btn: #bf2029;
  --yds-color-danger-btn-hover: #d7647b;
  --yds-color-danger-btn-pressed: #84001b;
  --yds-color-warning-btn: #a78500;
  --yds-color-warning-btn-hover: #c09c0c;
  --yds-color-warning-btn-pressed: #846900;
  --yds-color-on-primary-btn: #ffffff;
  --yds-color-on-primary-btn-hover: #F3F8E6;
  --yds-color-btn-disabled: #D8D8D8;
  --yds-color-border: #D8D8D8;
  --yds-color-border-subtle: #EDF0F2;
  --yds-color-primary-border-subtle: #C1DE7F;
  --yds-color-secondary-border: #0073a5;
  --yds-color-secondary-border-subtle: #cae5f1;
  --yds-color-danger-border: #bf2029;
  --yds-color-warning-border: #a78500;
  --yds-color-border-focus: #9aca3c;
  --yds-color-icon: #939292;
  --yds-color-icon-strong: #4A4A4A;
  --yds-color-primary-icon: #84BD00;
  --yds-color-secondary-icon: #0073a5;
  --yds-color-warning-icon: #a78500;
  --yds-color-danger-icon: #bf2029;
  --yds-color-info-icon: #0073a5;
  --yds-color-success-icon: #5C8211;
  --yds-color-icon-hover: #D8D8D8;
  --yds-color-icon-pressed: #6d6d6d;
  --yds-color-icon-strong-hover: #6d6d6d;
  --yds-color-icon-strong-pressed: #333333;
  --yds-color-icon-disabled: #D8D8D8;
  --yds-color-on-primary-icon: #ffffff;
  --yds-color-yubi-green: #9aca3c;
  --yds-color-yubi-blue: #325f74;
  --yds-color-yubi-gold: #e7c040;
  --yds-color-yubi-red: #bf2029;
  --yds-color-hot-pink-30: #ff00b24d;
  --yds-sys-colors-primary-tint: #F3F8E6;
  --yds-sys-colors-primary-subtle: #C1DE7F;
  --yds-sys-colors-primary-default: #9aca3c;
  --yds-sys-colors-primary-medium: #84BD00;
  --yds-sys-colors-primary-strong: #5C8211;
  --yds-sys-colors-secondary-tint: #f5fafc;
  --yds-sys-colors-secondary-subtle: #cae5f1;
  --yds-sys-colors-secondary-default: #0073a5;
  --yds-sys-colors-secondary-strong: #004461;
  --yds-sys-colors-tertiary-strong: #005572;
  --yds-sys-colors-success-subtle: #C1DE7F;
  --yds-sys-colors-success-default: #5C8211;
  --yds-sys-colors-info-subtle: #cae5f1;
  --yds-sys-colors-info-default: #0073a5;
  --yds-sys-colors-danger-subtle: #f1c9d1;
  --yds-sys-colors-danger-default: #bf2029;
  --yds-sys-colors-warning-subtle: #e3d393;
  --yds-sys-colors-warning-default: #a78500;
  --yds-sys-colors-neutral-0: #ffffff;
  --yds-sys-colors-neutral-1: #F9FAFB;
  --yds-sys-colors-neutral-2: #EDF0F2;
  --yds-sys-colors-neutral-3: #D8D8D8;
  --yds-sys-colors-neutral-4: #939292;
  --yds-sys-colors-neutral-5: #6d6d6d;
  --yds-sys-colors-neutral-6: #4A4A4A;
  --yds-sys-colors-neutral-7: #333333;
  --yds-sys-colors-neutral-alt-6: #686f59;
  --yds-sys-colors-neutral-alt-7: #3d4133;
  --yds-sys-colors-brand-yubi-green: #9aca3c;
  --yds-sys-colors-brand-yubi-blue: #325f74;
  --yds-sys-colors-brand-yubi-gold: #e7c040;
  --yds-sys-colors-brand-yubi-red: #bf2029;
  --yds-ref-colors-y-book-yubi-green: #9aca3c;
  --yds-ref-colors-y-book-yubi-blue: #325f74;
  --yds-ref-colors-y-book-yubi-gold: #e7c040;
  --yds-ref-colors-y-book-yubi-red: #bf2029;
  --yds-ref-colors-lime-50: #F3F8E6;
  --yds-ref-colors-lime-100: #E7F2CD;
  --yds-ref-colors-lime-200: #D5E9A8;
  --yds-ref-colors-lime-300: #C1DE7F;
  --yds-ref-colors-lime-400: #AAD24F;
  --yds-ref-colors-lime-450: #9aca3c;
  --yds-ref-colors-lime-500: #8FC317;
  --yds-ref-colors-lime-550: #84BD00;
  --yds-ref-colors-lime-600: #7BAF00;
  --yds-ref-colors-lime-700: #699700;
  --yds-ref-colors-lime-750: #5C8211;
  --yds-ref-colors-lime-800: #537700;
  --yds-ref-colors-lime-900: #314600;
  --yds-ref-colors-warm-gray-50: #f9f9f9;
  --yds-ref-colors-warm-gray-100: #edeeeb;
  --yds-ref-colors-warm-gray-200: #e0e1dd;
  --yds-ref-colors-warm-gray-300: #d2d4cd;
  --yds-ref-colors-warm-gray-400: #c2c5bc;
  --yds-ref-colors-warm-gray-500: #b1b4a9;
  --yds-ref-colors-warm-gray-600: #9da293;
  --yds-ref-colors-warm-gray-700: #868b79;
  --yds-ref-colors-warm-gray-800: #686f59;
  --yds-ref-colors-warm-gray-900: #3d4133;
  --yds-ref-colors-neutral-50: #F9FAFB;
  --yds-ref-colors-neutral-100: #EDF0F2;
  --yds-ref-colors-neutral-300: #D8D8D8;
  --yds-ref-colors-neutral-500: #bebebe;
  --yds-ref-colors-neutral-600: #939292;
  --yds-ref-colors-neutral-700: #6d6d6d;
  --yds-ref-colors-neutral-800: #4A4A4A;
  --yds-ref-colors-neutral-900: #333333;
  --yds-ref-colors-neutral-1000: #222222;
  --yds-ref-colors-neutral-white: #ffffff;
  --yds-ref-colors-neutral-black: #000000;
  --yds-ref-colors-blue-50: #f5fafc;
  --yds-ref-colors-blue-100: #e0f0f7;
  --yds-ref-colors-blue-200: #cae5f1;
  --yds-ref-colors-blue-300: #b1d9eb;
  --yds-ref-colors-blue-400: #95cce3;
  --yds-ref-colors-blue-500: #75bcdb;
  --yds-ref-colors-blue-600: #4faad1;
  --yds-ref-colors-blue-700: #1e92c5;
  --yds-ref-colors-blue-800: #0073a5;
  --yds-ref-colors-blue-900: #004461;
  --yds-ref-colors-green-50: #f4fcf2;
  --yds-ref-colors-green-100: #dcf4d6;
  --yds-ref-colors-green-200: #c2ecb7;
  --yds-ref-colors-green-300: #a4e394;
  --yds-ref-colors-green-400: #80d86a;
  --yds-ref-colors-green-500: #55cb37;
  --yds-ref-colors-green-600: #25b900;
  --yds-ref-colors-green-700: #209f00;
  --yds-ref-colors-green-800: #197d00;
  --yds-ref-colors-green-900: #0f4a00;
  --yds-ref-colors-teal-50: #f2fcf5;
  --yds-ref-colors-teal-100: #d7f5e0;
  --yds-ref-colors-teal-200: #b9edc9;
  --yds-ref-colors-teal-300: #96e4ae;
  --yds-ref-colors-teal-400: #6dd98e;
  --yds-ref-colors-teal-500: #3acc66;
  --yds-ref-colors-teal-600: #00b938;
  --yds-ref-colors-teal-700: #009f30;
  --yds-ref-colors-teal-800: #007e26;
  --yds-ref-colors-teal-900: #004a16;
  --yds-ref-colors-cyan-50: #f2fcfa;
  --yds-ref-colors-cyan-100: #d5f4ee;
  --yds-ref-colors-cyan-200: #b4ece1;
  --yds-ref-colors-cyan-300: #90e2d2;
  --yds-ref-colors-cyan-400: #64d7c0;
  --yds-ref-colors-cyan-500: #2dc9a9;
  --yds-ref-colors-cyan-600: #00b590;
  --yds-ref-colors-cyan-700: #009b7c;
  --yds-ref-colors-cyan-800: #007b62;
  --yds-ref-colors-cyan-900: #00483a;
  --yds-ref-colors-indigo-50: #f8f9fd;
  --yds-ref-colors-indigo-100: #eaedfa;
  --yds-ref-colors-indigo-200: #dbe0f6;
  --yds-ref-colors-indigo-300: #cad2f1;
  --yds-ref-colors-indigo-400: #b8c2ed;
  --yds-ref-colors-indigo-500: #a3b1e7;
  --yds-ref-colors-indigo-600: #8c9de1;
  --yds-ref-colors-indigo-700: #6f84da;
  --yds-ref-colors-indigo-800: #4964d0;
  --yds-ref-colors-indigo-900: #0026bc;
  --yds-ref-colors-violet-50: #faf9fd;
  --yds-ref-colors-violet-100: #f0ebfa;
  --yds-ref-colors-violet-200: #e5ddf6;
  --yds-ref-colors-violet-300: #d9cdf2;
  --yds-ref-colors-violet-400: #cbbcee;
  --yds-ref-colors-violet-500: #bca9e9;
  --yds-ref-colors-violet-600: #ab93e3;
  --yds-ref-colors-violet-700: #9678dc;
  --yds-ref-colors-violet-800: #7a53d3;
  --yds-ref-colors-violet-900: #3f08bf;
  --yds-ref-colors-fuschia-50: #fcf8fd;
  --yds-ref-colors-fuschia-100: #f6e9f9;
  --yds-ref-colors-fuschia-200: #f0daf5;
  --yds-ref-colors-fuschia-300: #e9c8f1;
  --yds-ref-colors-fuschia-400: #e1b5ec;
  --yds-ref-colors-fuschia-500: #d89fe6;
  --yds-ref-colors-fuschia-600: #cd85df;
  --yds-ref-colors-fuschia-700: #bf63d7;
  --yds-ref-colors-fuschia-800: #ab30c9;
  --yds-ref-colors-fuschia-900: #6d0088;
  --yds-ref-colors-pink-50: #fdf8fc;
  --yds-ref-colors-pink-100: #f9e9f4;
  --yds-ref-colors-pink-200: #f5d9ed;
  --yds-ref-colors-pink-300: #f0c7e4;
  --yds-ref-colors-pink-400: #ebb3da;
  --yds-ref-colors-pink-500: #e59ccf;
  --yds-ref-colors-pink-600: #de80c2;
  --yds-ref-colors-pink-700: #d55cb1;
  --yds-ref-colors-pink-800: #c51f93;
  --yds-ref-colors-pink-900: #7c0057;
  --yds-ref-colors-red-50: #fdf8f9;
  --yds-ref-colors-red-100: #f9eaed;
  --yds-ref-colors-red-200: #f5dae0;
  --yds-ref-colors-red-300: #f1c9d1;
  --yds-ref-colors-red-400: #ecb6c1;
  --yds-ref-colors-red-500: #e6a0ae;
  --yds-ref-colors-red-600: #e08698;
  --yds-ref-colors-red-700: #d7647b;
  --yds-ref-colors-red-800: #c92f4e;
  --yds-ref-colors-red-900: #84001b;
  --yds-ref-colors-orange-50: #fdf9f7;
  --yds-ref-colors-orange-100: #f8ebe5;
  --yds-ref-colors-orange-200: #f3dcd2;
  --yds-ref-colors-orange-300: #eeccbd;
  --yds-ref-colors-orange-400: #e8baa6;
  --yds-ref-colors-orange-500: #e1a58c;
  --yds-ref-colors-orange-600: #d98d6d;
  --yds-ref-colors-orange-700: #cf6f45;
  --yds-ref-colors-orange-800: #c0410b;
  --yds-ref-colors-orange-900: #752300;
  --yds-ref-colors-yellow-50: #fbf9f1;
  --yds-ref-colors-yellow-100: #f4eed5;
  --yds-ref-colors-yellow-200: #ece1b5;
  --yds-ref-colors-yellow-300: #e3d393;
  --yds-ref-colors-yellow-400: #d9c36c;
  --yds-ref-colors-yellow-500: #ceb140;
  --yds-ref-colors-yellow-600: #c09c0c;
  --yds-ref-colors-yellow-700: #a78500;
  --yds-ref-colors-yellow-800: #846900;
  --yds-ref-colors-yellow-900: #4d3e00;
  --yds-ref-colors-creative-new-dark-teal: #005572;
}